@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
.blue {
    color: #20a0ff;
}

.red {
    color: #f56c6c;
}

.green {
    color: #13ce66;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

a, a:active, a:hover {
    text-decoration: none;
    color: white;
    outline: 0;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.4rem;
}

@media (max-width:767px) {
    .row {
        flex-direction: column;
    }
}

@media (max-width:479px) {
    .row {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
}

.col {
    flex: 1 1;
}

.title {
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
}

/* @media (max-width:767px) {
    .navbar {
        display: none;
        
    }
} */

@media (max-width:325px) {
    .navbar {
        display: none;
        
    }
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
    text-align: right;
    color: lightgrey;
    z-index: 2;
    transition: all .2s linear;
}

.nav-item {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    opacity: 0;
    bottom: -1rem;
    left: 0;
    transition: all .1s ease-in-out;
    background-color: lightgrey;
}

.nav-item:hover:after {
    opacity: 1;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 56rem;
}

.hero .hero-container {
    position: relative;
    display: flex;
    max-width: 120rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hero-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20rem;
}

@media (max-width:479px) {
    .hero-profile {
        max-width: 17.5rem;
    }
}

.hero-profile-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: url(assets/earth.svg);
    border-radius: 50%;
}

.hero-profile-img {
    width: 100%;
    -webkit-transform: scale(.95);
    transform: scale(.95);
    border-radius: 50%;
}

.hero-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 3.5rem;
}

@media (max-width:991px) {
    .hero-icons {
        margin-top: 2.5rem;
        font-size: 3.5rem;
    }
}

.hero .icon-link {
    padding: 0 1.5rem;
    color: white;
    transition: all .2s linear;
}

.icon-link:hover {
    color: lightgray;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.hero-profile-content {
    padding-top: 2rem;
    text-align: center;
}

.hero-headline {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: white;
}

.hero-text {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: lightgray;
}

.hero .arrow {
    margin-top: 5rem;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@media screen and (min-height:600px) {
    .hero .arrow {
        position: absolute;
        margin-top: 0;
        left: calc(50% - 1rem);
        bottom: 5%;
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
    }
    60% {
        -webkit-transform: translateY(-.5rem);
        transform: translateY(-.5rem);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
    }
    60% {
        -webkit-transform: translateY(-.5rem);
        transform: translateY(-.5rem);
    }
}

.about .about-container {
    padding-top: 3rem;
    min-height: 100vh;
}

.about-educationcol, .about-experiencecol, .about-skillcol {
    padding-bottom: 1rem;
}

.about-timeline {
    padding-top: 1rem;
    padding-right: 3rem;
}

.about-card-group {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.about-card-wrapper {
    flex: 0 0 25%;
    padding: 2rem;
}

@media (max-width:991px) {
    .about-card-wrapper {
        flex-basis: 30%;
    }
}

@media (max-width:767px) {
    .about-card-wrapper {
        flex-basis: 50%;
        padding: .4rem;
    }
}

.about-card {
    display: flex;
    height: 15rem;
    background-color: #181a1b;
    border-radius: 2rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width:575px) {
    .about-card {
        padding: 1rem;
    }
}

.about-card-icon {
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    transition: all .2s linear;
}

.about-card-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.about-card-icon>img {
    width: 100%;
}

.about-card-title {
    font-size: 1.25rem;
    color: lightgray;
}

.timeline-card {
    position: relative;
    margin-left: 4rem;
    margin-bottom: 2rem;
    max-width: 30rem;
    color: lightgray;
    border-radius: 2rem;
    background-color: #181a1b;
}

.timeline-card:before {
    content: "";
    position: absolute;
    top: -.5rem;
    left: -3.6rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    z-index: 2;
}

.timeline-card:after {
    content: "";
    position: absolute;
    left: -3.3rem;
    top: 0;
    height: calc(100% + 2rem);
    width: .4rem;
    background-color: #181a1b;
}

.timeline-card:last-of-type:after {
    height: 100%;
}

.timeline-card-title {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    padding-bottom: 0;
}

.timeline-card-subtitle {
    padding: .25rem 2rem 1rem;
    font-size: 1.125rem;
}

.about-experiencecol .timeline-card-subtitle {
    font-style: italic;
}

.timeline-card-content {
    padding: 0 2rem 1rem;
    font-size: 1.2rem;
}

.timeline-card-time {
    padding: 1rem 2rem;
    text-align: right;
    font-size: 1.125rem;
}

.timeline-card-red:before {
    background-color: #f56c6c;
}

.timeline-card-green:before {
    background-color: #13ce66;
}

.timeline-card-blue:before {
    background-color: #20a0ff;
}

.skills-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 2rem;
    color: white;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
}

.skills-tile {
    padding: .5rem 1rem;
    background-color: #181a1b;
    color: lightgray;
    margin: .2rem;
    border-radius: 2rem;
    font-size: 1.125rem;

}

.project {
    position: relative;
    background: none;
}

.project:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    /* background: url(assets/jpl.jpg) 50%; */
    background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
    filter: brightness(55%);
    background-size: cover;
}

.project-row {
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .project-row {
        flex-direction: row;
    }
}

@media (max-width:575px) {
    .project-row {
        flex-direction: column;
    }
}

.project-col {
    display: flex;
    flex: 0 0 33.33332%;
    justify-content: center;
}

@media (max-width:991px) {
    .project-col {
        flex: 0 0 50%;
    }
}

@media (max-width:575px) {
    .project-col {
        flex: 0 0 100%;
    }
}

.project-container {
    padding-top: 3rem;
    min-height: 100vh;
}

.project-card {
    position: relative;
    display: inline-block;
    margin: 1rem 1rem 2rem;
    width: 27rem;
    height: 27rem;
    background-color: #181a1b;
    border-radius: 2rem;
    border: .3rem solid #181a1b;
}

@media (max-width:575px) {
    .project-card {
        width: 32rem;
    }
}

@media (max-width:479px) {
    .project-card {
        width: 100%;
    }
}

.project-card-cover {
    height: 18rem;
    background-size: cover;
    background-position: 50%;
    border-radius: 2rem;
}

.project-card-website {
    background-image: url(/portfolio/assets/projects/recommenation_app.png);

}

.project-card-summarizer {
    background-image: url(/portfolio/assets/projects/weather.png);
}

.project-card-2048 {
    background-image: url(/portfolio/assets/projects/blog.png);
}

.project-card-connect4 {
    background-image: url(/portfolio/assets/projects/gmail_spam.png);
}

.project-card-sushi {
    background-image: url(/portfolio/assets/projects/dibetes.jpg);
}

.project-card-pokemongo {
    background-image: url(/portfolio/assets/projects/credit_card.png);
}

.project-card-content {
    padding: 1rem;
}

.project-card-title {
    font-size: 2rem;
    color: white;
}

.project-card-btn {
    position: absolute;
    display: inline-block;
    bottom: .5rem;
    right: .5rem;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    background: #20a0ff;
    border-radius: 2rem;
    transition: all .2s linear;
    border: .1em solid transparent;
}

.project-card-btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border: .1em solid white;
}

.project-card-blackbutton {
    background: black;
}

/* .footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
} */

.footer {
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-item {
    margin: 0 20px;
  }
  
  .footer-item i {
    margin-right: 10px;
  }
  
  .footer-item a, .footer-item address {
    color: #fff;
    text-decoration: none;
  }
  

#redir {
    color: #20a0ff;
    text-decoration: underline;
}

.about-section {
    /* background-color: #f2f2f2; */
    padding: 40px;
    text-align: center;
  }
  
  .about-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-text {
    color:beige;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
    /* animation: text-animation 3s ease-in-out forwards; */
    animation: text-animation 5s ease-in-out forwards;
  }
  
  
  @keyframes text-animation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/* -----------link hover effect---------- */

.hover {
    /* color: #0000; */
    color: #fff;
    background: 
      linear-gradient(90deg,#e9111c 50%,#000 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
  }
  .hover:hover {
    --_p: 0%;
  }
  
  a {
    /* font-family: system-ui, sans-serif; */
    /* font-size: 3rem; */
    margin:0;
    cursor: pointer;
    padding: 0 .1em;
  }

  /* -----------play-button------------ */

  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 27px;
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(172, 163, 163);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  /* input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  @media (max-width: 576px) {
    .switch {
        width: 50px;
        height: 30px;
    }

    .slider.round {
        border-radius: 30px;
    }
}



  /* ----------Welcome message-------------- */
  
  h1 {
    font-family: "Montserrat Medium";
    /* color: aqua; */
    color: white;
    /* max-width: 40ch; */
    text-align: center;
    display: flex-align;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    width: max-content;
    /* width: max-content; */
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  

@media (max-width:575px) {
    .world {
        width: 22rem;
    }
}

@media (max-width:767px) {
    .world {
        width: 22rem;
    }
}
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
/* ----------made with love----------- */
.made-with{
    color:#e4e0e0;
    text-align: center;
    margin: 1.5px;
    margin-bottom: revert;
}
